.btn__block {
  display: flex;
  align-items: center;
  height: 100px;
  width: 0 auto;
  background-color: aquamarine;
}

button {
  width: 100px;
  height: 40px;
  margin: 0 2px 0 2px;
  background-color: darksalmon;
  border: none;
}

/* .some {
  background-color: rgb(218, 179, 74);
} */

.blue {
  background-color: rgb(83, 141, 218);
  border: none;
}

.red {
  background-color: rgb(228, 37, 37);
  border: none;
}

.green {
  background-color: rgb(139, 235, 110);
  border: none;
}
